<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CodeScanner &nbsp;<ion-icon name="qr-scanner"></ion-icon></ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="ion-1x">
    Start scanning codes to see the results. <ion-icon name="list-box"></ion-icon>
    </ion-list-header>
  </ion-list>
  
  <ion-card *ngIf="scannedCode != null">
      <ion-card-content *ngFor="let inv of inventories">   
        <p text-center class="ion-2x"><ion-icon name="clipboard"></ion-icon><b> Records found </b><ion-icon name="checkmark-circle" color="secondary"></ion-icon></p> 
        <p class="ion-2x"><ion-icon name="resize"></ion-icon> Size(MM)</p>
        <p class="ion-2x"><b> {{ inv.sizes }} </b> </p>
        <p class="ion-2x"><ion-icon name="ios-paper"></ion-icon> Description</p>
        <p class="ion-2x"><b> {{ inv.details }} </b></p>
        <p class="ion-2x"><ion-icon name="ios-search"></ion-icon> JTA</p>
        <p class="ion-2x"><b> {{ inv.jta }} </b></p>
        <p class="ion-2x"><ion-icon name="ios-barcode"></ion-icon> Barcode</p>
        <p class="ion-2x"><b> {{ inv.barcode }}</b></p>
        <p class="ion-2x"><ion-icon name="pricetags"></ion-icon> Product Code</p>
        <p class="ion-2x-red"><b> {{ inv.name }} </b></p>
      </ion-card-content>
      <ion-card-content *ngIf="inventories == null">    
        <p text-center class="ion-2x"><ion-icon name="clipboard"></ion-icon><b> No records found </b><ion-icon name="close-circle" color="danger"></ion-icon></p>  
        <p class="ion-2x">Barcode:</p>
        <p class="ion-2x"><b> {{ scannedCode }}</b></p>
      </ion-card-content>
  </ion-card>
  
  <ion-fab right bottom>
    <button (click)="scanCode()" ion-fab color="primary"><ion-icon name="qr-scanner"></ion-icon></button>
  </ion-fab>  

</ion-content>
